@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  src: url("../../spotify-artist-search/src/fonts/Oswald-SemiBold.ttf") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../spotify-artist-search/src/fonts/Poppins-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../spotify-artist-search/src/fonts/Poppins-ExtraBold.ttf") format("woff");
}

