@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  src: url("../../spotify-artist-search/src/fonts/Oswald-SemiBold.ttf") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../spotify-artist-search/src/fonts/Poppins-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../spotify-artist-search/src/fonts/Poppins-ExtraBold.ttf") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
